---
import AboutLayout from "@/layouts/AboutLayout.astro";

export function getStaticPaths() {
  return [
    { params: { locale: undefined } },
    { params: { locale: "ko" } },
    { params: { locale: "ja" } },
  ];
}
---

<AboutLayout frontmatter={{ title: "Privacy Policy" }}>
  <div>
    <h2>Privacy Policy</h2>
    <p><strong>Effective Date:</strong> April 14, 2026</p>
    <p>At GSF Blog (gsfark.com), accessible from https://gsfark.com, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by GSF Blog and how we use it.</p>
    
    <h3>1. Log Files</h3>
    <p>GSF Blog follows a standard procedure of using log files. These files log visitors when they visit websites. The information collected by log files includes internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks.</p>

    <h3>2. Cookies and Web Beacons</h3>
    <p>Like any other website, GSF Blog uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.</p>

    <h3>3. Google DoubleClick DART Cookie</h3>
    <p>Google is one of a third-party vendor on our site. It also uses cookies, known as DART cookies, to serve ads to our site visitors based upon their visit to www.website.com and other sites on the internet. However, visitors may choose to decline the use of DART cookies by visiting the Google ad and content network Privacy Policy at the following URL – <a href="https://policies.google.com/technologies/ads">https://policies.google.com/technologies/ads</a></p>

    <h3>4. Children's Information</h3>
    <p>Another part of our priority is adding protection for children while using the internet. GSF Blog does not knowingly collect any Personal Identifiable Information from children under the age of 13.</p>

    <h3>5. Consent</h3>
    <p>By using our website, you hereby consent to our Privacy Policy and agree to its Terms and Conditions.</p>
    <p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us through email at asiaunion@gmail.com.</p>
  </div>
</AboutLayout>
