---
import type { CollectionEntry } from "astro:content";
import { slugifyStr } from "@/utils/slugify";
import { getPath } from "@/utils/getPath";
import Datetime from "./Datetime.astro";

type Props = {
  variant?: "h2" | "h3";
} & CollectionEntry<"blog">;

const { variant: Heading = "h2", id, data, filePath } = Astro.props;

const { title, description, ...props } = data;
---

<li class="my-6">
  <a
    href={getPath(id, filePath)}
    class="group block rounded-lg transition-all duration-300 hover:-translate-y-1 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-accent"
  >
    <Heading
      class="inline-block text-lg font-medium text-accent underline decoration-solid decoration-1 underline-offset-[0.22em] decoration-accent/45 transition-colors group-hover:decoration-accent"
      style={{ viewTransitionName: slugifyStr(title.replaceAll(".", "-")) }}
    >
      {title}
    </Heading>
    <div class="mt-1 transition-opacity duration-300 group-hover:opacity-80">
      <Datetime {...props} />
    </div>
    <p class="mt-1 transition-opacity duration-300 group-hover:opacity-80">{description}</p>
  </a>
</li>
